/* Arka plan */
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #1db954, #121212);
  background-size: cover;
  background-attachment: fixed;
  font-family: Arial, sans-serif;
  justify-content: center;
}

/* Merkezleme alanı */
.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 0 20px;
}

/* Kutunun dış alanı */
.input-wrapper {
  justify-content: center;
  background: rgba(0, 0, 0, 0.4);
  padding: 40px 50px;
  border-radius: 20px;
  backdrop-filter: blur(12px);
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
}
